<component name="ArtifactManager">
  <artifact type="war" name="springboot-test-api:war">
    <output-path>$PROJECT_DIR$/../springboot-test-api/target</output-path>
    <root id="archive" name="springboot-test-api-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot-test-api:war exploded" />
    </root>
  </artifact>
</component>